.MainTasksBlock
  display: flex
  gap: 157px
  margin-bottom: 120px
  .task
    display: flex
    align-items: center
    gap: 30px
    p
      font-size: 22px
      line-height: 36px
      color: var(--grey-text)
