@import '../../styles/mixins.sass'

.header
  padding: 29.14px 0
  .container
    @include disp-align-cent
    justify-content: space-between
    .ulinks
      display: flex
      gap: 60px
      li
        border-bottom: 2px solid transparent
        border-top: 2px solid transparent
        a
          color: rgb(0,0,0)
          @include label-text
          text-decoration: none
          text-transform: uppercase

        &:hover
          border-color: #000

        &.active
          border-color: #000

.footer
  background-color: var(--secondary-col)
  color: var(--primary-col)
  .topSection
    padding: 58px 0 60px 0
    display: flex
    .logoContainer
      flex: 1
    .infoContainer
      flex: 4
      margin-left: 99px
      @include disp-ju-sp-btw
      h5
        font-weight: 600
      .botlinks
        margin-top: 25px
        li
          a
            @include common-text
            color: var(--primary-col)
            text-decoration: none
            text-transform: capitalize
          &:not(:last-of-type)
            margin-bottom: 16px
      .contactInfo
        max-width: 314px
        width: 100%
        margin-top: 25px
        li
          @include disp-align-cent
          @include common-text
          gap: 14px
          &:not(:last-of-type)
            margin-bottom: 16px
      .socialIcons
        margin-top: 25px
        display: flex
        gap: 40px
  .botSection
    @include disp-align-ju-cent
