.Pagination
  .paginationButtons
    display: flex
    align-items: center
    gap: 22.94px
  .pages
    display: flex
    gap: 26px
    margin-top: 94px
    color: var(--grey-pagination-numbers)
    font-size: 24px
    align-items: center
    padding-left: 10px
    .line
      display: inline-block
      width: 1px
      height: 43.82px
      background-color: var(--grey-pagination-numbers)
      transform: rotate(-134.98deg)
