@import '../../styles/mixins.sass'
@import '../../styles/variables.sass'
  
.ContactUs
  margin-bottom: $margin-bot-blocks
  h2
    @include heading2
    margin-bottom: 60px
  .container
    display: flex
    gap: 30px
    margin-bottom: 22px
    .left
      .input
        max-width: 361px
        width: 100%
        padding: 15px 20px 15px 20px
        background-color: var(--grey-background-input)
        border: transparent
        @include common-text
        &:not(:last-child)
          margin-bottom: 10px
      .textArea
        height: 147px
    .right
      .img
        width: 749px
        height: 369px
  .additional
    @include common-text
    max-width: 331px
    width: 100%
    padding-left: 32px
    margin-bottom: 21px
  .buttonContainer
    .button
      @include disp-align-ju-cent
      @include dark-btn
      gap: 12px
      
    

