:root {
  --primary-col: #FFFFFF;
  --secondary-col: #2C2C2C;
  --grey-background: #AEB4D4;
  --grey-secondary-background: #FAFAFA;
  --grey-heading: #BDBDBD;
  --grey-heading-numbers: #F2F2F2;
  --grey-background-input: #F3F3F3;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
