@import '../../styles/mixins.sass'
@import '../../styles/variables.sass'

.AboutCompanyBlock
  display: flex
  gap: 30px
  padding: 30px 100px 30px 70px
  background: var(--grey-background2)
  margin-bottom: 150px
  .column1
    img
      display: block
      &:first-of-type
        width: 270px
        height: 265px
      &:last-of-type
        position: absolute
        margin-top: 30px
        width: 270px
        height: 140px
  .column2
    img
      &:first-of-type
        position: relative
        margin-top: 30px
        width: 270px
        height: 345px
  .column3
    h2
      @include heading2
      margin-bottom: 20px
    p
      font-family: $font-family
      font-size: 16px
      line-height: 25px
      margin-bottom: 20px
    .button
      @include disp-align-ju-cent
      gap: $gap-in-btn
      
